.container {
  height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f3e8;
}

.headerContainer {
  margin: 0 auto;
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  transition: all 0.5s ease;
}

.headerContainer.scrolled {
  padding: 0.5rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.2rem;
  transition: all 0.5s ease;
}

.title.scrolled {
  font-size: 2rem;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  font-style: italic;
  padding: 12px;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  justify-content: center;
}

.descriptorsContainer {
  flex: 1;
  max-width: 600px;
}

.stopContainer {
  padding: 6px 12px;
  border-radius: 1rem;
  border: 1px solid #f5f3e8;

  &.hovered {
    box-shadow: 4px 4px;
    transform: translateY(-2px);
    transition: all 0.3s ease;
    border: 1px solid black;
  }
}

.mapContainer {
  flex: 1;
  min-width: 500px;
  max-width: 600px;
  position: sticky;
  top: 0;
  padding: 1rem;
}
